<h1>User#account_activation</h1>

<p>
  Hi, <%= @user.name %>
</p>

<p>Click the link below to reset your password</p>
<p>The link will expire in 2 hours</p>
<p><%= link_to "Reset my password", edit_password_reset_url(id: @user.reset_token, email: @user.email) %></p>
